.hidden {
    display: none;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
    opacity: 0.9;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input::placeholder {
    color: white;
    text-align: center;
    font-style: italic;
  }

input.underline {
    background-color:transparent;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}

ul{
    list-style:none;
    padding-left:0px;
}

html, body
{
    width: 100%;
    height: 100%;
}


.container
{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.main
{
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: transparent; 
        
}

body {
    font-family: 'CookieRunOTF-Bold';
    color: white;
    width:100%;
    height:100%;
    display: table;
    margin: 0 auto;
  }

.delBtn {
    background-color: transparent;
    border: 0;
}

#login-form{
    text-align: center;
}
#greeting{
    top: 50;
    left: 0;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 10px;
}

#weather {
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    right: 0;
    top: 0;
    margin: 15px;
    text-align: center;
  }

#clock {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0px;
    font-size: 100px;  
}

#todo-list {
    text-align: center;
font-size : 25px;
}

#todo-form {
    text-align: center;
}

#quote {
    border: 3px solid white;
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    color: black;
}